* {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;

}
.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: hsl(188deg 28% 51%);
    justify-content: space-between;
}

.col-2 {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: hsl(188deg 28% 51%);
    justify-content: space-between;
}

.col-3 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: hsl(188deg 28% 51%);
    justify-content: space-between;
}

body {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}